@import 'assets/scss/_loads';

h1, h2, h3, h4, h5, h6{margin: 0; padding: 0; font-weight: 400;}
a{text-decoration: none;}
input, textarea, button, select{font-family: $font-lato;}
*{outline: none; @include box-sizing(border-box);}

body{margin: 0; font-family: $font-lato;}

.content{
    margin: 0 auto;
    padding: 50px 60px;
    max-width: 1140px;
}
header.header-main{
    height: 80px;
    background-color: $color-primary;
    color: $color-title;
    font-family: $font-abel;
    font-size: 42px;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
}

// LOADING
.loading-content{
    width: 100%;
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
}
.loading {
    position: relative;
    width: 64px;
    height: 64px;
    @include display-flex;
    div {
        transform-origin: 32px 32px;
        animation: animaLoading 1.2s linear infinite;
        &:after {
            content: " ";
            display: block;
            position: absolute;
            top: 3px;
            left: 29px;
            width: 5px;
            height: 14px;
            border-radius: 20%;
            background: $color-primary;
        }
        $delay: 0.1s;
        $deg: 30deg;
        @for $i from 1 through 12 {
            &:nth-child(#{$i}){
            @include transform(rotate($deg*$i - 30deg));
                animation-delay: -1.1s+($delay*$i);
            }
        }
    }
}

// PAGINAÇÃO
ul.ngx-pagination{
    margin: 0;
    padding: 0;
    width: 100%;
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    li{
        margin: 0 5px;
        font-family: $font-abel;
        color: $color-primary;
        font-size: 20px;
        a:hover{background: none;}
    }
    .current{
        width: 46px;
        height: 46px;
        border: solid 3px $color-title;
        background: $color-primary;
        color: $color-title;
        font-family: $font-abel;
        font-size: 24px;
        @include box-shadow(0 0 0 2px $color-primary);
        @include border-radius(50%);
        @include display-flex(inline);
        @include align-items(center);
        @include justify-content(center);
    }
}



@media only screen and (max-width: 780px) {
    .content{
        padding: 30px 20px;
        max-width: 100%;
    }
}
  
  